

<!-- <ul>
  <li *ngFor="let item of datos">{{item.vBtra}}</li>
</ul> -->


<table  class="table table-hover tab">
  <tr>
    <td><h4>Numero Requi</h4> </td>
    <td><h4>Puesto</h4></td>
    <td><h4>Experiencia</h4></td>
    <td><h4>Areas</h4></td>
  </tr>
  <tr>
    <td></td>
    <td><input  class="form-control" placeholder="Filtar por puesto" ></td>
    <td><input class="form-control" placeholder="Filtar por experencia" type="text"></td>
    <td><input class="form-control" placeholder="Filtar por area" type="text"></td>
  </tr>
  <tr *ngFor="let item of datos">
    <td>{{item.id}}</td>
    <td>{{item.vBtra}}</td>
    <td>{{item.experiencia}}</td>
      <td>{{item.area.nombre}}</td>
    <td><button class="btn btn-primary" (click)="Onclick()" >Configurar</button></td>
  </tr>
 </table>
