<mat-accordion class="example-headers-align">
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <em class="fa fa-users"></em>
    </mat-panel-title>
    <mat-panel-description>
      Resultado de Candidatos
    </mat-panel-description>
  </mat-expansion-panel-header>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrado">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Candidato Column -->
    <ng-container matColumnDef="Candidato">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let candidatos"> {{candidatos.nombre}} {{candidatos.apellidoPaterno}} {{candidatos.apellidoMaterno}} </mat-cell>
    </ng-container>

    <!-- Codigo Postal Column -->
    <ng-container matColumnDef="CodigoPostal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo Postal </mat-header-cell>
      <mat-cell *matCellDef="let candidatos"> {{candidatos.cp}} </mat-cell>
    </ng-container>

    <!-- Curp Column -->
    <ng-container matColumnDef="Curp">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Curp </mat-header-cell>
      <mat-cell *matCellDef="let candidatos"> {{candidatos.curp}} </mat-cell>
    </ng-container>

    <!-- Rfc Column -->
    <ng-container matColumnDef="Rfc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rfc </mat-header-cell>
      <mat-cell *matCellDef="let candidatos"> {{candidatos.rfc}} </mat-cell>
    </ng-container>

    <!-- Nss Column -->
    <ng-container matColumnDef="Nss">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nss </mat-header-cell>
      <mat-cell *matCellDef="let candidatos"> {{candidatos.nss}} </mat-cell>
    </ng-container>

    <!-- Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let candidatos">
          <button class="mb-sm btn-sm btn btn-green btn-outline" type="button" (click)="openDialog(candidatos.id)">
            Detalle
            <em class="fa fa-eye"></em></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [showFirstLastButtons]="true"
                 [length]="TotalRecords"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = paginate($event)">
  </mat-paginator>
</div>
</mat-expansion-panel>
</mat-accordion>
