<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Registro</small>
</div>

<div class="row">
   <div class="col-md-8">
      <!-- START panel-->
      <form [formGroup]="formUsuarios">
      <div class="panel panel-default">
         <div class="panel-heading">Datos Personales</div>
         <div class="panel-body">
                  <mat-form-field>
                    <input matInput formControlName="Clave" placeholder="Número de Empleado">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['Clave'].touched && !formUsuarios.controls['Clave'].valid">Número de empleado es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="Nombre" placeholder="Nombre">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['Nombre'].touched && !formUsuarios.controls['Nombre'].valid">Nombre es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="ApellidoPaterno" placeholder="Apellido Paterno">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['ApellidoPaterno'].touched && !formUsuarios.controls['ApellidoPaterno'].valid">Apellido Paterno es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="ApellidoMaterno" placeholder="Apellido Materno">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['ApellidoMaterno'].touched && !formUsuarios.controls['ApellidoMaterno'].valid">Apellido Materno es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="Email" placeholder="Correo Electrónico">
                  </mat-form-field>



                  <mat-form-field>
                    <mat-select matInput formControlName="DepartamentoId" placeholder="Seleccionar Departamento" required>
                      <mat-option *ngFor="let d of ListDepas" [value]="d.id">
                          {{ d.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formUsuarios.controls['DepartamentoId'].hasError('required')">Debe selecciona un departamento</mat-error>

                  </mat-form-field>
                  <!--
                  <mat-form-field>

                    <mat-select placeholder="Seleccionar Departamento">
                      <mat-option *ngFor="let d of ListDepas" [value]="d.id">
                        {{ d.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->

         </div>
         <div class="panel panel-footer">
           <div class="row">
             <div class="pull-right">
               <span><button class="btn btn-lg btn-primary" (click)="saveData()">Registrar </button></span>
                <span ><button class="btn btn-lg btn-success">Limpiar datos</button></span>
            </div>
           </div>
        </div>
      </div>
    </form>

   </div>

   <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Perfil</div>
         <div class="panel-body">
              <div class="panel-body">
                  <mat-form-field>
                    <input matInput formControlName="Usuario" placeholder="Damsa.{{formUsuarios.controls['Nombre'].value}}">
                  </mat-form-field>

                <app-crop-img></app-crop-img>
                <!-- <div class="form-group">
                  <div class="panel-heading">Selecciona una imagen</div>
                  <div class="panel-body">
                      <label for="image-input" class="file-upload">
                          <input id="image-input" type="file" (change)="fileChangeListener($event)">
                      </label>
                      <div class="result" *ngIf="data1.image">
                          <p class="pv">Imagen recortada</p>
                          <img class="center-block img-responsive" [class.img-circle]="cropperSettings.rounded"  [src]="data1.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                      </div>
                 </div>
                  <div class="form-group">
                    <div class="panel-body">
                      <img-cropper #cropper [image]="data1" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
                    </div>
                  </div>
              </div> -->
         </div>
      </div>
      <!-- END panel-->
   </div>
 </div>
</div>
<!-- Inicio dtPersonas -->
