<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>

</div>
<div class="row">
   <div>
      <!-- START panel-->
      <div class="panel panel-dark panel-flat">

         <div class="panel-body">
           <p class="text-center pv">USUARIOS</p>
           <!-- START panel-->
           <div class="panel panel-default">
               <div class="table-responsive">
                   <table class="table table-bordered table-hover" id="table-ext-1">
                       <thead>
                           <tr>
                               <th>Foto</th>
                               <th>Clave</th>
                               <th>Alias</th>
                               <th>Nombre</th>
                               <th>Apellido</th>
                               <th>Email</th>
                               <th>Departamento</th>
                               <th>Tipo Usuario</th>
                               <th checkAll>Activar
                                   <!-- <div class="checkbox c-checkbox">
                                       <label>
                                           <input type="checkbox" />
                                           <span class="fa fa-check"></span>
                                       </label>
                                   </div> -->
                               </th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr *ngFor="let p of Users">
                               <td>
                                   <div class="media">
                                       <img class="img-responsive img-circle" src="assets/img/user/01.jpg" alt="Image" />
                                   </div>
                               </td>
                               <td>{{p.clave}}</td>
                               <td>{{p.usuario}}</td>
                               <td>{{p.nombre}}</td>
                               <td>{{p.apellidoPaterno + ' ' + p.apellidoMaterno}}</td>
                               <td>
                                 <tr *ngFor="let e of p.email">{{e.email}}</tr>
                               </td>
                               <td>{{p.departamento}}</td>
                               <td>{{p.tipoUsuario}}</td>
                               <!-- <td class="text-center">
                                     <div class="radial-bar radial-bar-80 radial-bar-xs" data-label="80%"></div>
                               </td> -->

                                 <td class="text-center">
                                    <label class="switch">
                                      <input type="checkbox" [checked]="p.activo" (change)="Actualizar($event, p.id)" />
                                      <span></span>
                                    </label>

                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>

               <div class="panel-footer">
                   <div class="row">
                       <div class="col-lg-2">
                           <div class="input-group">

                           </div>
                       </div>
                       <div class="col-lg-8"></div>
                       <div class="col-lg-2">
                           <!-- <div class="input-group pull-right">
                               <span class="input-group-btn">
                             <button class="btn btn-sm btn-default">Apply</button>
                          </span>
                          <span class="input-group-btn">
                        <button class="btn btn-sm btn-default">Apply</button>
                     </span>
                           </div> -->
                       </div>
                   </div>
               </div>
               <p><span class="text-center pv">{{msj}}</span></p>
           </div>
           <!-- END panel-->

                  <!-- <mat-form-field>
                    <input matInput formControlName="Clave" placeholder="Número de Empleado">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['Clave'].touched && !formUsuarios.controls['Clave'].valid">Número de empleado es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="Nombre" placeholder="Nombre">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['Nombre'].touched && !formUsuarios.controls['Nombre'].valid">Nombre es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="ApellidoPaterno" placeholder="Apellido Paterno">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['ApellidoPaterno'].touched && !formUsuarios.controls['ApellidoPaterno'].valid">Apellido Paterno es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="ApellidoMaterno" placeholder="Apellido Materno">
                  </mat-form-field>
                  <p><span *ngIf="formUsuarios.controls['ApellidoMaterno'].touched && !formUsuarios.controls['ApellidoMaterno'].valid">Apellido Materno es requerido</span></p>

                  <mat-form-field>
                    <input matInput formControlName="Email" placeholder="Correo Electrónico">
                  </mat-form-field>



                  <mat-form-field>
                    <mat-select matInput formControlName="DepartamentoId" placeholder="Seleccionar Departamento" required>
                      <mat-option *ngFor="let d of ListDepas" [value]="d.id">
                          {{ d.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formUsuarios.controls['DepartamentoId'].hasError('required')">Debe selecciona un departamento</mat-error>

                  </mat-form-field>

         </div>
         <div class="panel panel-footer">
           <div class="row">
             <div class="pull-right">
               <span><button class="btn btn-lg btn-primary" (click)="saveData()">Registrar </button></span>
                <span ><button class="btn btn-lg btn-success">Limpiar datos</button></span>
            </div>
           </div>
        </div> -->
      </div>
      </div>

    <!-- <app-crop-img></app-crop-img> -->

   </div>
 </div>
