<div class="content-heading">
  <ul class="breadcrumb pull-right">
      <li>
        <a [routerLink]="['/home']" >Inicio</a>
      </li>
      <li class="active">Directorio Empresarial</li>
  </ul>
  Directorio Empresarial.
  <small> Administraci&oacute;n.</small>
</div>


<div class="row">
  <!-- Prospectos -->
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <em class="icon-people fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="text-lg">26</div>
                      <p class="m0">Prospectos</p>
                  </div>
              </div>
          </div>
          <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" [routerLink]="['/ventas/prospectos']">
              <span class="pull-left">Ver Prospectos</span>
              <span class="pull-right">
             <em class="fa fa-chevron-circle-right"></em>
          </span>
          </a>
      </div>
  </div>
  <!-- Clientes -->
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <em class="icon-people fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="text-lg">12</div>
                      <p class="m0">Clientes</p>
                  </div>
              </div>
          </div>
          <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" [routerLink]="['/ventas/clientes']">
              <span class="pull-left">Ver Clientes</span>
              <span class="pull-right">
             <em class="fa fa-chevron-circle-right"></em>
          </span>
          </a>
      </div>
  </div>
  <!-- <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <em class="fa fa-shopping-cart fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="text-lg">124</div>
                      <p class="m0">New Orders!</p>
                  </div>
              </div>
          </div>
          <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
              <span class="pull-left">View Details</span>
              <span class="pull-right">
             <em class="fa fa-chevron-circle-right"></em>
          </span>
          </a>
      </div>
  </div> -->
  <!-- <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <em class="fa fa-support fa-5x"></em>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="text-lg">13</div>
                      <p class="m0">Support Tickets!</p>
                  </div>
              </div>
          </div>
          <a class="panel-footer bg-gray-dark bt0 clearfix btn-block" href="#">
              <span class="pull-left">View Details</span>
              <span class="pull-right">
             <em class="fa fa-chevron-circle-right"></em>
          </span>
          </a>
      </div>
  </div> -->
</div>
<!-- END row-->