.panel-body {
  overflow-x: scroll;
  height: 800px;
}
.tituloPuesto
{
  background-color: #23b7e5 !important;
  margin-right: 0px;
}

.margin-mio
{
  margin-top: -32.5px;
}

.margintextthumb
{
  margin-left: 20px;
  margin-top: 10px;
}

.marginimg
{
  margin-left: 10px;
  margin-top: 10px;
}
.width-mio
{
  width: 30%;
}
