.panel-body {
  overflow-x: scroll;
  height: 800px;
}
.tituloPuesto
{
  background-color: #23b7e5 !important;
}

.margin-mio
{
  margin-top: -32.5px;
}
.margintextthumb
{
  margin-left: 10px;
  margin-top: -10px;
}

.width-mio
{
  width: 30%;
}
