
  <div class="content-heading">
      <ul class="breadcrumb pull-right">
          <li>
              <a href="/home">Inicio</a>
          </li>
          <li class="active">Administrador</li>
      </ul>
      <small> Usuario - Grupo</small>
  </div>

  <form [formGroup]="formAdmin" novalidate >
  <!-- <div class="row">
    <div class="col-md-6">
      <div class = "panel panel-default panel-body">
        <p><span><select class="form-control" (change)="filtrar($event)">
                <option value="">Filtrar por Departamento</option>
                <option *ngFor="let d of ListDepas" [value]="d.id">{{d.nombre}}</option>
                </select>
        </span></p>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
        <div class="panel-heading text-center">USUARIOS</div>
          <div class="panel-body">
            <div *ngFor="let p of ListaPersonas; let i = index" class="panel panel-defaul" dnd-draggable [dragData]="p" (onDragSuccess)="popPerson(p, i)" [dropZones]="['demo1']">
                
                  <img class="pull-left media img-responsive img-circle thumb64 marginimg" src="{{p.foto}}" />
                  <div class="media-body">
                    <div class="media-heading margintextthumb">
                    <div class="pull-right badge baed-info tituloPuesto">{{p.departamento}}</div>
                    <h4>{{p.nombre + ' ' + p.apellidoPaterno }}</h4>
                    <p>Clave: {{p.clave}}</p>
                    <p>Álias: {{p.usuario}}</p>
                    <p *ngFor="let e of p.email">{{e.email}} </p>
                    <p>Tipo de Usuario: {{p.tipoUsuario}}</p>
                    <p>Grupo: <span *ngFor="let e of p.grupos">{{e.nombre}},</span></p>
                  </div>
                  </div>
  
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6">
      <div dnd-droppable (onDropSuccess)="addToGroups($event)" [dropZones]="['demo1']" class="panel panel-default">
        <div class="panel-heading">Grupos:
           <select class="form-control width-mio" formControlName="slcGrupo" (change)="selected($event)" >
              <option *ngFor="let user of listGrupos" [value]="user.id">{{user.nombre}}</option>
           </select>
          <span class="text-danger" *ngIf="formAdmin.controls['slcGrupo'].hasError('required')">Debe seleccionar un Grupo</span>
          <div class="pull-right margin-mio">
            <button [disabled]="formAdmin.invalid" class="mb-sm btn btn-sm btn-success btn-outline" matTooltip="Guardar Cambios" (click)="addUsuarioGrupo()">
                <em class="fa fa-check"></em>
            </button>
            <button class="mb-sm btn btn-sm btn-danger btn-outline" matTooltip="Vaciar Lista" (click)="resetBasket()">
                <em class="fa fa-trash-o"></em>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <p>{{alert}}</p>
          <div *ngFor="let pg of ListaPG" class="panel panel-default mat-elevation-z8">
              <img class="pull-left media img-responsive img-circle thumb48 marginimg" src="{{pg.foto}}" alt="" />
              <div class="media-body">
                <div class="media-heading margintextthumb">
                  <div class="pull-right badge baed-info tituloPuesto">{{pg.departamento}}</div>
                  <h4>{{pg.nombre + ' ' + pg.apellidoPaterno }}</h4>
                  <p>Tipo de Usuario: {{pg.tipoUsuario}}</p>
                  <p>Grupo: <span *ngFor="let e of pg.grupos">{{e.nombre}},  </span></p>
                </div>
              </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</form>

