<div class="content-heading">
    <ul class="breadcrumb pull-right visible-lg visible-md">
      <li class="active">Inicio</li>
    </ul>
    SAGA
    <small> Inicio</small>
</div>


<div class="row">
  <app-asignar-requisicion [placeHolder]='placeHolderAsignar' [disabledSelect]='disabledAsignar' [Asignados]='asignados' (Asignacion)='getAsgiancion($event)' required></app-asignar-requisicion>
</div>

<btn-save (click)="btnSaveFunction()"></btn-save>
<btn-edit></btn-edit>
<btn-delete></btn-delete>
<btn-cancel></btn-cancel>
<btn-view></btn-view>
<btn-return></btn-return>
<btn-refresh></btn-refresh>
<btn-design></btn-design>