<div class="content-heading">
    <ul class="breadcrumb pull-right visible-lg visible-md">
      <li class="active">Inicio</li>
    </ul>
    SAGA
    <small> Inicio</small>
</div>

<!-- <btn-accept></btn-accept>
<btn-assign></btn-assign>
<btn-cancel></btn-cancel>
<btn-check></btn-check>
<btn-closed></btn-closed>
<btn-delete></btn-delete>
<btn-design></btn-design>
<btn-edit></btn-edit>
<btn-print></btn-print>
<btn-refresh></btn-refresh>
<btn-return></btn-return>
<btn-save></btn-save>
<btn-view></btn-view>
<btn-desing-recl></btn-desing-recl> -->