<p>
  disenador-vacante works!
</p>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container ">
    <div class="col-xs-12">
            <div class="col-xs-12">
                <h4>Operacion</h4>
            </div>
                    <div class="col-xs-3 row">
                        <div class="list-group panel-default">
                            <a href="#" class="list-group-item panel-heading">Nombre</a>
                            <a href="#" class="list-group-item">
                                resumen
                                <div class="material-switch pull-right">
                                    <input id="Resumen1" name="someSwitchOption001" type="checkbox" />
                                    <label for="Resumen1" class="label-success"></label>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                detalle
                                <div class="material-switch pull-right">
                                    <input id="Detalle1" name="someSwitchOption001" type="checkbox" />
                                    <label for="Detalle1" class="label-success"></label>
                                </div>
                            </a>
                        </div>
                    </div>
    </div>
</div>
