
<div class="panel-body">
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>

<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="#" (click)="LlamarVacante()" >Vacantes</a>
        </li>
        <li class="active">Diseño de Vacante</li>
    </ul>
    Diseño de Vacante
    <small> Administraci&oacute;n de Diseño Vacantes</small>
</div>

<mat-accordion class="example-headers-align">

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos Generales
      </mat-panel-title>
      <mat-panel-description>
        Informacion general de la vacante
        <mat-icon>info_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of General">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label   class="switch  switch-lg danger">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input  checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input   id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Direccion
      </mat-panel-title>
      <mat-panel-description>
        Informacion de las direcciones
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Direccion">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Telefonos
      </mat-panel-title>
      <mat-panel-description>
        Informacion de los Telefonos
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Telefono">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contacto
      </mat-panel-title>
      <mat-panel-description>
        Informacion del Contacto
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Contacto">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Puesto
      </mat-panel-title>
      <mat-panel-description>
        Informacion del puesto a reclutar
        <mat-icon>assignment_turned_in</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of PuestoReclutar">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos de Horario
      </mat-panel-title>
      <mat-panel-description>
        Informacion de los horarios de la vacante
        <mat-icon>access_time</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Horario">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Actividades y Observaciones
      </mat-panel-title>
      <mat-panel-description>
        Informacion de la actividad de la vacante
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Actividad">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Psicometrias
      </mat-panel-title>
      <mat-panel-description>
        Informacion de la Psicometria
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Psicometria">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sueldo
      </mat-panel-title>
      <mat-panel-description>
        Informacion del sueldo de vacante
        <mat-icon>monetization_on</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of sueldo">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Beneficio
      </mat-panel-title>
      <mat-panel-description>
        Informacion de los Beneficios de la vacante
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Beneficio">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tipo Contrato
      </mat-panel-title>
      <mat-panel-description>
        Informacion del contrato
        <mat-icon>chrome_reader_mode</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Contrato">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 12" (opened)="setStep(12)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Documentos
      </mat-panel-title>
      <mat-panel-description>
        Informacion de los documentos
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Documento">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 13" (opened)="setStep(13)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Proceso
      </mat-panel-title>
      <mat-panel-description>
        Informacion de los proceso
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Proceso">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 14" (opened)="setStep(14)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Prestaciones
      </mat-panel-title>
      <mat-panel-description>
        Informacion de las Prestaciones
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Otros">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 15" (opened)="setStep(15)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Competencias
      </mat-panel-title>
      <mat-panel-description>
        Informacion de la vacante para Copetencias
        <mat-icon>note_add</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Column width" *ngFor="let item of Copetencia">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="table-responsive">

                      <table class="table table-hover"  >
                          <thead>
                              <tr>
                                  <th colspan="2">{{item.nombre}}</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Resumen</td>
                                  <td>
                                    <label  class="switch switch-lg">
                                      <div *ngIf="item.resumen; then pintaSI else pintaNo"></div>
                                        <ng-template #pintaSI>
                                          <input checked id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <ng-template #pintaNo>
                                          <input  id="Resumen_{{item.id}}" (click)="SetResumen(item.id,item.nombre)" type="checkbox"  />
                                        </ng-template>
                                        <span></span>
                                    </label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Detalle</td>
                                  <td>
                                      <label class="switch switch-lg">
                                        <div *ngIf="item.detalle; then pintaSId else pintaNod"></div>
                                          <ng-template #pintaSId>
                                            <input checked  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                          <ng-template #pintaNod>
                                          <input  id="Detalle_{{item.id}}" (click)="SetDetalle(item.id,item.nombre)" type="checkbox"  />
                                          </ng-template>
                                        <span></span>
                                      </label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
    </div>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Atras</button>
      <button mat-button color="primary" (click)="nextStep()">Cerrar</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
