
<br/>

<div class="row">
  <div class="panel panel-default panel-flat mat-elevation-z8">
      <div class="panel-body">
        <div class="col-md-8">
          <select class="form-control" (change)="selected($event.target.value); id = $event.target.value; flag=true" >
              <option  [value]="0">Seleccionar Rol</option>
              <option *ngFor="let rol of listRoles" [value]="rol.id">{{rol.rol}}</option>
           </select>
        </div>
        <div>
          <btn-delete (click)="DeleteRoles(id)"></btn-delete>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default panel-flat mat-elevation-z8">
    <div class="panel-body">
      <div class="row">
          
          <div class="col-md-2 pull-left">
              <div class="input-group">
                <input (input)="Search($event)" class="input-sm form-control" type="text" placeholder="Filtrar" />
              </div> 
            </div>
            <div class="col-md-8 text-center">
                <p class="text-center pv">ROLES - PRIVILEGIOS</p>
                </div>
        </div>
        <table #tbl class="table table-responsive table-bordered table-hover" (change)="UpdateFoto() ">
          <thead><tr><td *ngFor="let c of columns" class="text-center">{{c.title}}</td></tr></thead>
            <tbody>
              <tr *ngFor="let r of filteredData; let rowIndex = index">
                
                <td class="text-center">
                    {{r['rol']}}
                  <!-- <span matTooltip="Double click to edit" (dblclick)="editing[rowIndex + '-' + 'rol'] = true" *ngIf="!editing[rowIndex + '-' + 'rol']">
                    {{r['rol']}}
                  </span>
                  <input autofocus (blur)="updateValue($event, rol, rowIndex)" *ngIf="editing[rowIndex + '-' + 'rol']" type="text" [value] = "r['rol']" />  -->
                </td>
                <td class="text-center">
                    {{r['nombre']}}
                    <!-- <span matTooltip="Double click to edit" (dblclick)="editing[rowIndex + '-' + 'nombre' ] = true" *ngIf="!editing[rowIndex + '-' + 'nombre']">
                      {{r['nombre']}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'nombre', rowIndex)" *ngIf="editing[rowIndex + '-' + 'nombre']" type="text" [value] = "r['nombre']" />  -->
                </td>
                <td class="center">
                  <mat-checkbox #crear id="{{ 'C-' + rowIndex}}" (change)="r['create'] = crear.checked" class="checkbox" [checked]="r.create"></mat-checkbox><span></span>
                </td>
                <td>
                  <mat-checkbox #leer id="{{ 'R-' + rowIndex}}" (change)="r['read'] = leer.checked" class=" center-block checkbox" [checked]="r.read"></mat-checkbox>
                  <span></span>
                </td>
                <td class="center">
                  <mat-checkbox #modificar id="{{ 'U-' + rowIndex}}" (change)="r['update'] = modificar.checked" class="checkbox" [checked]="r.update"></mat-checkbox>
                  <span></span>
                </td>
                <td class="center">
                  <mat-checkbox #borrar id="{{ 'D-' + rowIndex}}" (change)="r['delete'] = borrar.checked" class="checkbox" [checked]="r.delete"></mat-checkbox>
                  <span></span>
                </td>
                <td class="center">
                  <mat-checkbox #especial (change)="r['especial'] = especial.checked" class="checkbox" [checked]="r.especial"></mat-checkbox>
                  <span></span>
                </td>
                <td class="center-block" >
                  <btn-check [hidden]="ocultar" matTooltip="Guardar Cambios" (click)="GuardarCambios(r)"></btn-check>
                </td>
            </tr>
          </tbody>
      </table>
  </div>