<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Rol - Grupo</small>
</div>

<form [formGroup]="formRol" novalidate >
<div class="row">
  <div class="col-md-6">
    <div class="mat-elevation-z8">
      <p class="text-center pv">GRUPOS</p>
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Usuario Alta</th>
            <th class="text-center">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr class="empty-row" matTooltip="click to select" *ngFor="let g of Grupos; let i = index" (click)="onSelect(g, i)" [class.selected]="g.selected">
            <td><img class="center-block media img-responsive img-circle thumb32" src="{{g.foto}}" alt="" /></td>
            <td class="text-center">{{g.nombre}}</td>
            <td class="text-center">{{g.descripcion}}</td>
            <td class="text-center">{{g.usuarioAlta}}</td>
            <td class="text-center">
              <tr class="text-center" *ngFor="let r of g.roles">{{r.rol}}</tr>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default mat-elevation-z8">
        <div class="panel-heading">
            <select #slcRol class="form-control widthSelect" (change)="selected($event, i)" formControlName="slcRol" >
               <option *ngFor="let r of Roles; let i = index" [value]="r.id">{{r.rol}}
                 <!-- <label *ngIf="r.create"> <mat-checkbox [checked]="r.read" [disabled]="true"></mat-checkbox> C</label>
                 <label *ngIf="r.read"> R</label>
                 <label *ngIf="r.update"> U</label>
                 <label *ngIf="r.delete"> D</label>
                 <label *ngIf="r.especial"> S</label> -->
               </option>
            </select>
            <span class="text-danger" *ngIf="formRol.controls['slcRol'].hasError('required')">Debe seleccionar un Rol</span>
           <div class="pull-right marginButtons">
             <button [disabled]="formRol.invalid" class="mb-sm btn btn-sm btn-success btn-outline" matTooltip="Guardar Cambios" (click)="saveData(slcRol.value)"><em class="fa fa-check"></em></button>
           </div>
         </div>
        <div class="panel-body">
          <ul>
            <li *ngFor='let sel of ListaRG'>
                <div>{{sel.nombre}}</div>
            </li>
            <li *ngIf="!ListaRG.length">No se ha seleccionado grupo</li>
          </ul>
        </div>
    </div>
  </div>
</div>
<br/>
<div class="row" >
  <app-rolls-struct #Struct [hidden]="!flag" [disabled]="true" (onItemChanged)="setData()" [StructList]="filteredData"></app-rolls-struct>
</div>


</form>