<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Rol - Grupo</small>
</div>

<form [formGroup]="formRol" novalidate >
<div class="row">
  <div class="col-md-8">
    <div class="mat-elevation-z8">
      <p class="text-center pv">GRUPOS</p>
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr class="empty-row" matTooltip="dblclick to select" *ngFor="let g of Grupos; let i = index" (dblclick)="onSelect(g, i)" [class.selected]="g.selected">
            <td><img class="center-block media img-responsive img-circle thumb32" src="{{g.foto}}" alt="" /></td>
            <td class="text-center">{{g.nombre + ' ' + g.apellidoPaterno}}</td>
            <td class="text-center">{{g.descripcion}}</td>
            <td class="center-block">
              <tr class="text-center" *ngFor="let r of g.roles">
                <div>
                {{r.rol}}
                <button type="button" class="close pull-right" aria-label="Close" (click)="DeleteUserRoles(g.id, r.id)">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default mat-elevation-z8">
        <div class="panel-heading">
            <select #slcRol class="form-control widthSelect" (change)="selected($event, i)" formControlName="slcRol" >
               <option *ngFor="let r of Roles; let i = index" [value]="r.id">{{r.rol}}</option>
            </select>
            <span class="text-danger" *ngIf="formRol.controls['slcRol'].hasError('required')">Debe seleccionar un Rol</span>
           <div class="pull-right marginButtons">
             <btn-check id='create' chkPrivilegiosButtons [disabled]="formRol.invalid" matTooltip="Guardar Cambios" (click)="saveData(slcRol.value)"></btn-check>
           </div>
         </div>
        <div class="panel-body">

            <div *ngFor='let sel of ListaRG'>
                <img class="media img-responsive img-circle thumb32" src="{{sel.foto}}" alt="" />
                {{sel.nombre}}
                </div>
            <p *ngIf="!ListaRG.length">No se ha seleccionado grupo</p>

        </div>
    </div>
  </div>
</div>
<br/>
<div class="row" >
  <app-rolls-struct #Struct [hidden]="!flag" [ocultar]="true" (onItemChanged)="setData()" [StructList]="filteredData"></app-rolls-struct>
</div>


</form>