<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Crear Grupos</small>
</div>


<form [formGroup]="formGrupos" (ngSubmit)="saveData()" novalidate >
    <div class="panel">
      <div class="panel-body">
        <section>
            <mat-form-field>
              <input matInput formControlName="Grupo" placeholder="Nombre">
            </mat-form-field>
            <p><span *ngIf="formGrupos.controls['Grupo'].touched && !formGrupos.controls['Grupo'].valid">Nombre es requerido</span></p>
            <mat-form-field>
              <textarea matInput formControlName="Descripcion" placeholder="Descripción" maxlength="80" rows="1"></textarea>
            </mat-form-field>

          </section>

          <input matInput placeholder="Grupo Activo">
          <section>
            <mat-checkbox class="checkbox" formControlName="Activo"></mat-checkbox>
          </section>

        <section>
          <app-crop-img></app-crop-img>
        </section>

        <section>
          <div class="col-md-6" >
            <input matInput placeholder="{{msj}}">
          </div>
            <button [disabled]="formGrupos.invalid" class="btn btn-primary example-label pull-right">Guardar</button>
        </section>
      </div>
    </div>
</form>

<!-- <div class="row">
   <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-body">
               <fieldset>
                 <div class="row">
                   <div class="col-md-6">
                     <label>Nombre</label>
                     <select class="form-control" (change)="selected($event)" >
                         <option>Seleccionar Grupo</option>
                         <option *ngFor="let user of listGrupos" value="{{user.tipo}}">
                               {{user.tipo}}
                         </option>
                     </select>
                   </div>
                   <div class="col-md-4">
                     <br/>
                      <button type="button" class="btn btn-sm btn-oval btn-success"><i class="material-icons">add</i></button>
                   </div>
                 </div>
               </fieldset>

             <fieldset>
             <div class="row">
                <div class="col-lg-2">
                    <label class="control-label">Permisos:</label>
                </div>
                <div class="col-lg-2 checkbox">
                      <mat-checkbox #myCheckbox [checked]>Create</mat-checkbox>
                </div>
                <div class="col-lg-2">
                      <mat-checkbox class="checkbox">Read</mat-checkbox>
                </div>
                <div class="col-lg-2">
                      <mat-checkbox class="checkbox">Update</mat-checkbox>
                </div>
                <div class="col-lg-2">
                      <mat-checkbox class="checkbox">Delete</mat-checkbox>
                </div>
           </div>
         </fieldset>
              <div class="row">
                  <div class="col-md-4">
                      <button class="btn btn-lg btn-oval btn-primary">Asignar</button>
                  </div>
             </div>
      </div>
   </div>
</div> -->
