<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Candidatos</li>
    </ul>
    Candidatos
    <small> Administraci&oacute;n de Candidatos</small>
</div>
 <!-- Componente Busqueda -->
<div class="row">
  <app-busqueda (filtro)="Filtrado($event)"></app-busqueda>
</div>
<br>
<!-- Componente datatable vacantes -->
<div class="row">
  <app-dt-candidatos *ngIf="filtradocandidatos" [Filtrado]='filtradocandidatos'></app-dt-candidatos>
</div>
