<mat-accordion>
  <mat-expansion-panel (opened)="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Información personal
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Alias:</p> {{item.vBtra}}
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Información comercial
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>
<div *ngFor="let item of vacantesdtl">
  <div class="clearfix"></div>
  <div class="job-name">
    <span>{{item.vBtra}}</span>
  </div>
</div>