<div class="content-heading">
    <ul class="breadcrumb pull-right visible-lg visible-md">
      <li><a [routerLink]="['/home']" >Inicio</a></li>
      <li class="active">Requisicion</li>
    </ul>
    Requisiciones
    <small> Administraci&oacute;n de Requisiciones.</small>
</div>
<div class="row">
  <button class="mb-sm btn-md btn btn-primary btn-outline"
          [routerLink]="['/ventas/crearRequisicion']" type="button"  matTooltip="Nueva Requisición"  [matTooltipPosition]= "right">
    <em class="fa fa-plus"></em>
  </button>
</div>
