<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Administar Roles</small>
</div>

<form [formGroup]="formRoles" novalidate>
    <div class="row">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo1()">Try me!</a>
            </p>
        <div class="panel panel-default panel-flat mat-elevation-z8">
            <div class="panel-body">
                <p class="text-center pv">ROLES</p>
                    <table class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th *ngFor=" let t of columns" class="text-center">{{t.title}}</th>
                                <!-- <th class="text-center">CREAR</th>
                                <th class="text-center">LEER</th>
                                <th class="text-center">ACTUALIZAR</th>
                                <th class="text-center">BORRAR</th>
                                <th class="text-center">ESPECIAL</th>
                                <th class="text-center"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of Roles; let rowIndex = index">
                                <td class="text-center">
                                    <span matTooltip="Double click to edit" (dblclick)="editing[rowIndex + '-' + columns[0]['title'] ] = true" *ngIf="!editing[rowIndex + '-' + columns[0]['title']]">
                                        {{r[columns[0]['title'].toLowerCase()]}}
                                    </span>
                                    <input autofocus (blur)="updateValue($event, columns[0]['title'], rowIndex)" *ngIf="editing[rowIndex + '-' + columns[0]['title']]" type="text" [value] = "r[columns[0]['title'].toLowerCase()]" /> 
                                </td>
                                <td class="center">
                                    <mat-checkbox (change)="updateValue($event, 'create', rowIndex)" class="checkbox" [checked]="r.create"></mat-checkbox>
                                    <span></span>
                                </td>
                                <td>
                                    <mat-checkbox (change)="updateValue($event, 'read', rowIndex)" class=" center-block checkbox" [checked]="r.read"></mat-checkbox>
                                    <span></span>
                                </td>
                                <td class="center">
                                    <mat-checkbox (change)="updateValue($event, 'update', rowIndex)" class="checkbox" [checked]="r.update"></mat-checkbox>
                                    <span></span>
                                </td>
                                <td class="center">
                                    <mat-checkbox (change)="updateValue($event, 'delete', rowIndex)" class="checkbox" [checked]="r.delete"></mat-checkbox>
                                    <span></span>
                                </td>
                                <td class="center">
                                    <mat-checkbox (change)="updateValue($event, 'especial', rowIndex)" class="checkbox" [checked]="r.especial"></mat-checkbox>
                                    <span></span>
                                </td>
                                <td class="text-center">
                                    <button [disabled]="false" (click)="updateRol($event, rowIndex)" class="mb-sm btn btn-sm btn-success btn-outline" matTooltip="Guardar Cambios">
                                        <em class="fa fa-check"></em>
                                    </button>
                                    <button class="mb-sm btn btn-sm btn-danger btn-outline" matTooltip="Eliminar Rol" (click)="DeleteRoles($event,rowIndex)">
                                        <em class="fa fa-trash-o"></em>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="panel panel-default panel-body">
            <p class="text-center pv">AGREGAR ROL</p>
            <section>
                <mat-form-field>
                    <input matInput formControlName="Rol" placeholder="Nombre">
                </mat-form-field>
                <!-- validar nombre rol -->
                <p>
                    <span *ngIf="formRoles.controls['Rol'].touched && !formRoles.controls['Rol'].valid">Nombre es requerido</span>
                </p>
            </section>
    
            <input matInput placeholder="Permisos">
    
            <section class="checkbox">
                <mat-checkbox formControlName="Create">Crear</mat-checkbox>
                <mat-checkbox formControlName="Read">Leer</mat-checkbox>
                <mat-checkbox formControlName="Update">Modificar</mat-checkbox>
                <mat-checkbox formControlName="Delete">Borrar</mat-checkbox>
                <mat-checkbox formControlName="Especial">Especial</mat-checkbox>
            </section>
            <section>
                <div class="col-md-6">
                    <input matInput placeholder="{{msj}}">
                </div>
                <div class="col-lg-2 pull-right">
                    <button [disabled]="formRoles.invalid" (click)="saveData()" class="btn btn-primary example-label">Guardar</button>
                </div>
                <div class="col-lg-2 pull-right">
                    <mat-checkbox class="checkbox" formControlName="Activo">Rol Activo</mat-checkbox>
                </div>
            </section>
        </div>
    </div>
</form>