<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Crear Roles</small>
</div>

<form [formGroup]="formRoles" (ngSubmit)="saveData()" novalidate >
    <div class="panel">
      <div class="panel-body">
        <section>
            <mat-form-field>
              <input matInput formControlName="Rol" placeholder="Nombre">
            </mat-form-field>

            <!-- validar nombre rol -->
            <p><span *ngIf="formRoles.controls['Rol'].touched && !formRoles.controls['Rol'].valid">Nombre es requerido</span></p>

            <!-- <mat-form-field>
              <textarea matInput formControlName="Descripcion" placeholder="Descripción" maxlength="80" rows="1"></textarea>
            </mat-form-field> -->
        </section>

        <input matInput placeholder="Permisos">

        <section class="checkbox">
            <mat-checkbox formControlName="Create">Crear</mat-checkbox>
            <mat-checkbox formControlName="Read">Leer</mat-checkbox>
            <mat-checkbox formControlName="Update">Modificar</mat-checkbox>
            <mat-checkbox formControlName="Delete">Borrar</mat-checkbox>
            <mat-checkbox formControlName="Especial">Especial</mat-checkbox>
        </section>



        <section>
          <div class="col-md-6" >
            <input matInput placeholder="{{msj}}">
          </div>
          <div class="col-lg-2 pull-right" >
            <button [disabled]="formRoles.invalid" class="btn btn-primary example-label">Guardar</button>
          </div>
          <div class="col-lg-2 pull-right">
            <mat-checkbox class="checkbox" formControlName="Activo">Rol Activo</mat-checkbox>
          </div>


        </section>
      </div>
    </div>
</form>
