<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li>
            <a href="/home">Inicio</a>
        </li>
        <li class="active">Administrador</li>
    </ul>
    <small>Administar Roles</small>
</div>

<form [formGroup]="formRoles" novalidate>
    <div class="row">
        <div class="panel panel-default panel-body">
            <p class="text-center pv">AGREGAR ROL</p>
            <section>
                <mat-form-field>
                    <input matInput formControlName="Rol" placeholder="Nombre">
                </mat-form-field>
                        <!-- validar nombre rol -->
                <p><span *ngIf="formRoles.controls['Rol'].touched && !formRoles.controls['Rol'].valid">Nombre es requerido</span></p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <btn-check id='create' chkPrivilegiosButtons [disabled]="!formRoles.invalid" class="pull-right" (click)="saveData()" matTooltip="Guardar Cambios"></btn-check>
        </div>
        <br/>
        <br/>
        <div class="panel panel-default panel-flat mat-elevation-z8">
             <tree-root #tree [nodes]="nodes" [focused]="true" [options]="customTemplateStringOptions" (onEvent)="onEvent($event)">
                <ng-template #treeNodeTemplate let-node let-index= "index">
                    <mat-checkbox class="checkbox" [value]="node.data" [checked] = "node.data.checked" (change)="descendantsAllSelected(node, $event.checked, tree);">{{node.data.nombre}}</mat-checkbox>
                    <span class="pull-right-mio badge baed-info">{{ childrenCount(node) }}</span>
                    <div *ngIf="node.data.checked && ( node.data.tipoEstructuraId >= 3 )">
                        <section class="checkbox">
                            <mat-checkbox id="{{ 'C-' + node.data.estructuraId}}" (change)="descendantsChecked($event, node, 'Create')" [checked] = "node.data['create']" >Crear</mat-checkbox>
                            <mat-checkbox id="{{ 'R-' + node.data.estructuraId}}" (change)="descendantsChecked($event, node, 'Read')" [checked] = "node.data['read']" >Leer</mat-checkbox>
                            <mat-checkbox id="{{ 'U-' + node.data.estructuraId}}" (change)="descendantsChecked($event, node, 'Update')" [checked] = "node.data['update']" >Modificar</mat-checkbox>
                            <mat-checkbox id="{{ 'D-' + node.data.estructuraId}}" (change)="descendantsChecked($event, node, 'Delete')" [checked] = "node.data['delete']" >Borrar</mat-checkbox>
                            <mat-checkbox id="{{ 'E-' + node.data.estructuraId}}" (change)="descendantsChecked($event, node, 'Especial')" [checked] = "node.data['especial']">Especial</mat-checkbox>
                        </section><hr>
                    </div>
                </ng-template>
            </tree-root> 

          
      
    </div>
    <br/>
    <div class="row">
            <btn-check id='create' chkPrivilegiosButtons [disabled]="!formRoles.invalid" class="pull-right" (click)="saveData()" matTooltip="Guardar Cambios"></btn-check>
    </div>
    <br/>
    <br/>
    
    </div>
</form>