// @import '../../../../../../node_modules/primeng/resource/themes/primeng.min.css';

.red{
    background-color:red;
    background-image:none;
 }
 
 .normal{
    background-color:blue;
    background-image:none;
 }