<ngx-spinner bdOpacity = 0.5 bdColor = "#333" size = "default" color = "#fff" type = "ball-atom"></ngx-spinner>
<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li><a [routerLink]="['/home']" >Inicio</a></li>
        <li><a [routerLink]="['/ventas/requisicion']" >Requisición</a></li>
        <li class="active" [hidden]="!Edit">Editar Requisición</li>
    </ul>
    Requisición
    <small>Edición de Requisición</small>
</div>
<!-- Botones superiores Izquierdos -->
<div class="row">
  <div class="col-md-12 text-right">
    <btn-return matTooltip="Regresar" [routerLink]="['/ventas/requisicion']"></btn-return>
  </div>
</div>
<br/>
<app-update-info-requi [Folios]= "folio"></app-update-info-requi>
<br/>
<app-view-cuerpo-requi [Requisicion]="requiId"></app-view-cuerpo-requi>
