<mat-accordion class="example-headers-align">
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <em class="fa fa-search"></em>
    </mat-panel-title>
    <mat-panel-description>
      Filtrado de candidatos
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <form class="find-form">
      <hr>
          <div class="row">
            <!-- Inicio de filtros. Filtro de Paises. -->
            <div class="col-md-2"><app-pais [IdPais]="FPais" (change)="FiltroPais($event)"></app-pais></div>
            <!-- Filtro de Estados -->
            <div class="col-md-2"><app-estado [Pais]='IdPais' [IdEstado]="FEstado" (change)="FiltroEstado($event)"></app-estado></div>
            <!-- Filtro de Municipios -->
            <div class="col-md-2"><app-municipio [Estado]='IdEstado' [IdMunicipio]="FMunicipio" (change)="FiltroMunicipio($event)"></app-municipio></div>
            <!-- Filtro de Colonias -->
            <div class="col-md-2"><app-colonia [Municipio]='IdMunicipio' [IdColonia]="FColonia" (change)="FiltroColonia($event)"></app-colonia></div>
            <!-- Filtro de C.P. -->
            <div class="col-md-2"><app-cp (change)="FiltroCp($event)"></app-cp></div>
            <!-- Filtro de Area de experiencia -->
            <div class="col-md-2"><app-area-exp></app-area-exp></div>
          </div>
          <div class="row">
            <!-- Filtro de Perfil -->
            <div class="col-md-2"><app-perfil></app-perfil></div>
            <!-- Filtro de Salario -->
            <div class="col-md-2">
              <mat-form-field class="fieldautocomplete-full-width">
                <input matInput placeholder="Salario" type="number" class="example-right-align">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>
            </div>
            <!-- Filtro de Genero -->
            <div class="col-md-2"><app-genero></app-genero></div>
            <!-- Filtro de Edad -->
            <div class="col-md-2"><app-edad></app-edad></div>
            <!-- Filtro de Reubicacion -->
            <div class="col-md-2"><app-reubicacion></app-reubicacion></div>
            <!-- Filtro de Persona con discapasidad -->
            <div class="col-md-2"><app-pcondiscapacidad></app-pcondiscapacidad></div>
          </div>
          <div class="row">
            <!-- Filtro de Tipo de licencia -->
            <div class="col-md-2"><app-tplicencia></app-tplicencia></div>
            <!-- Filtro de vehiculo propio -->
            <div class="col-md-2"><app-vehpropio></app-vehpropio></div>
            <!-- Filtro de Nivel de estudios -->
            <div class="col-md-2"><app-nivestudios></app-nivestudios></div>
            <!-- Filtro de Idiomas -->
            <div class="col-md-2"><app-idiomas></app-idiomas></div>
          </div>
          <hr>
    </form>
  </div>
  <div class="row">
    <button mat-raised-button class="button-find" (click)="Filtro()">Buscar</button>
    <button mat-raised-button class="button-clean">Limpiar filtros</button>
  </div>
</mat-expansion-panel>
</mat-accordion>
